<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%- pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="page-content">
        <h1>Welcome</h1>
        <p>To get started, login by clicking <em>Login</em> on the navbar, then go to the servers page and choose a server to manage.</p>
    </div>
</body>
</html>