<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="/milligram.min.css">
</head>
<body>
    <% if (user) { %>
    <p>Logged in as <%- user.tag %>, <a href="/authorize/logout">not you?</a></p>
    <% } else { %>
    <p>Not logged in, <a href="/authorize">click here</a> to login with Discord.</p>
    <% } %>
</body>
</html>